<!DOCTYPE html>
<html ng-app="vertafore-events" lang="en">
    <head>
        <title>Vertafore | eVents</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="main.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="ui-bootstrap-tpls-0.13.1.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-controller="mainCtrl">		
        <ul id="nav-menu" class="menu" ng-class="{ 'nav-open': leftOpen, 'nav-closed': !leftOpen }">
            <li ng-click="goHome()"><span class="glyphicon glyphicon-home"></span> Home</li>
            <li ng-click="goProfile()"><span class="glyphicon glyphicon-user"></span> Profile</li>
            <li ng-click="showModal($event)"><span class="glyphicon glyphicon-plus"></span> New Event</li>
            <li><span class="glyphicon glyphicon-calendar"></span> Your Events</li>
        </ul>
        
        <ul id="filter-menu" class="menu" ng-class="{ 'filter-open': rightOpen, 'filter-closed': !rightOpen }">
            <center><li style="letter-spacing: 1px; font-weight: bold"><b>Filter By:</b></li></center>
            <li> Category</li>
                <ul class="category-filter">
                    <li><span class="glyphicon glyphicon-briefcase"></span> In Office</li>
                    <li><span class="glyphicon glyphicon-king"></span> Gaming</li>
                    <li><span class="glyphicon glyphicon-record"></span> Sports</li>
                    <li><span class="glyphicon glyphicon-glass"></span> Social</li>
                    <li><span class="glyphicon glyphicon-plus"></span> Volunteering</li>
                </ul>
            <li>
                <form>
	               <input type="search" placeholder="Search">
                </form>
            </li>
        
            <li> Attendees</li>
            <li> Event Title</li>
            <li> Date Range - Upcoming</li>
            <li> Date Range - Created</li>
        </ul>

        
        
        <div class="container-fluid" ng-click="closeMenus()">
            
            <div class="header">
			    <div id="nav-menu-button" class="header-icon" ng-class="{ 'icon-clicked': leftOpen }" ng-click="toggleNav($event)">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
				<img id="vertafore-logo" src="Vertafore-logo.png"> 
			    <div id="filter-menu-button" class="header-icon" ng-click="toggleFilter($event)" ng-class="{ 'icon-clicked': rightOpen }">
                    <span class="glyphicon glyphicon-filter"></span>
                </div>
            </div>

            <div class="overlay-wrapper">
                <div class="new-event-modal" ng-class="{ 'new-event-modal-open': modalOpen }">
                    <h1>New Event</h1>
                    <input type="text" ng-model="titlefield" placeholder="Title">
                    <input type="text" ng-model="descfield" placeholder="Description">
                    <input type="text" ng-model="locationfield" placeholder="Location">
                    <select ng-model="typefield">
                        <option value="office" selected>In Office</option>
                        <option value="gaming">Gaming</option>
                        <option value="sports">Sports</option>
                        <option value="social">Social</option>
                        <option value="volunteer">Volunteering</option>
                    </select>
                    <h6>From:</h6>
                    <input type="datetime-local" ng-model="fromfield">
                    <h6>To:</h6>
                    <input type="datetime-local" ng-model="tofield">
                    <br>
                    <button class="event-button" ng-click="cancelEvent()">Clear</button>
                    <button class="event-button" ng-click="createEvent($event)">Create</button>
                </div>
            </div>
            
            
            <div class="tile-window" ng-click="closeModal()">
                <div ng-repeat="event in events" class="event-tile">
                    <h3><span class="{{'glyphicon tile-icon ' + toGlyphClass(event.type)}}" style="z-index: -1"></span>{{" " + event.title}}</h3>
                </div>
            </div>
            
            
        </div>
    </body>
</html>