<!DOCTYPE html>
<html ng-app="vertafore-events" lang="en">
    <head>
        <title>Vertafore | eVents</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="main.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-controller="mainCtrl">		
        <ul id="nav-menu" class="menu" ng-class="{ 'nav-open': leftOpen, 'nav-closed': !leftOpen }">
            <li>Home</li>
            <li>Profile</li>
            <li>New Event</li>
            <li>Your Events</li>
        </ul>
        
        <ul id="filter-menu" class="menu" ng-class="{ 'filter-open': rightOpen, 'filter-closed': !rightOpen }">
        </ul>
        
        <div class="container-fluid" ng-click="closeMenus()">
            
            <div class="header">
			    <div id="nav-menu-button" class="header-icon" ng-class="{ 'icon-clicked': leftOpen }" ng-click="toggleNav($event)"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
				<img id="vertafore-logo" src="Vertafore-logo.png"> 
			    <div id="filter-menu-button" class="header-icon" ng-click="toggleFilter($event)" ng-class="{ 'icon-clicked': rightOpen }"><span class="glyphicon glyphicon-filter"></span></div>
            </div>
            
            <div ng-repeat="event in events" class="tilewindow">
                
            </div>
            
        </div>
    </body>
</html>
