<!DOCTYPE html>
<html ng-app="vertafore-events" lang="en">
    <head>
        <title>Vertafore | eVents</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="main.css" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body ng-controller="mainCtrl">		
        <ul id="nav-menu" class="menu menu-items" ng-class="{ 'nav-open': leftOpen, 'nav-closed': !leftOpen }">
            <li><span class="glyphicon glyphicon-home"></span> Home</li>
            <li><span class="glyphicon glyphicon-user"></span><a href="profile.html" data-ajax="false"  style="color:black"> Profile</a></li>
            <li><span class="glyphicon glyphicon-calendar"></span> Your Events</li>
            <li><span class="glyphicon glyphicon-bell"></span> Notification</li>
            <li><span class="glyphicon glyphicon-map-marker"></span> Location</li>
        </ul>
        
        <ul id="filter-menu" class="menu" ng-class="{ 'filter-open': rightOpen, 'filter-closed': !rightOpen }">
        </ul>
        
        <div class="container-fluid" ng-click="closeMenus()">
            
            <div class="header">
			    <div id="nav-menu-button" class="header-icon" ng-click="toggleNav($event)"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
				<img id="vertafore-logo" src="Vertafore-logo.png"> 
			    <div id="filter-menu-button" class="header-icon" ng-click="toggleFilter($event)"><span class="glyphicon glyphicon-filter"></span></div>
            </div>
            
            <div ng-repeat="event in events" class="tilewindow">
                
            </div>
            <input type="text" ng-model="title" placeholder="Title">
            <input type="text" ng-model="description" placeholder="Description">
            <input type="text" ng-model="date" placeholder="Date">
            <input type="text" ng-model="time" placeholder="Time">
            <select ng-model="type">
                    <option value="in_office">In Office</option>
                    <option value="gaming">Gaming</option>
                    <option value="sports">Sports</option>
                    <option value="social">Social</option>
                    <option value="volunteer">Volunteering</option>
            </select>
            <button ng-click="createEvent()"></button>
            
        </div>
        <ul id="filter-menu" class="menu menu-items" ng-class="{ 'filter-open': rightOpen, 'filter-closed': !rightOpen }">
            <center><li>Filter By:</li></center>
            <li> Category</a></li>
                <ul class="category-filter">
                    <li>In Office</li>
                    <li>Gaming</li>
                    <li>Sports</li>
                    <li>Social</li>
                    <li>Volunteering</li>
                    
                    </ul>
        
        
            
            <li> Attendees</a></li>
            <li> Event Title</a></li>
            <li> Date Range - Upcoming</a></li>
            <li> Date Range - Created</a></li>
        </ul>
    </body>
</html>
