<!DOCTYPE html>
<html ng-app="vertafore-events" lang="en">
<head>
	<title>I'm Down</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="login.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="mainCtrl">   
    <div id="wrapper" class="login-header">  
        <div class="header"></div>
    
        <center>
            <img class="vertafore-logo" src="../Vertafore-logo.png" style="display: inline-block; width: 102px; height: 70px">
        </center>

        <h3>Login</h3>
        <input type="text" id="email" class="form-control" ng-model="email" placeholder="email">
        <input type="password" id="password" class="form-control" ng-model="password" placeholder="password">         
        <br>
        <button ng-click="login()">Login</button>
    </div>
        <h3>New User</h3>
        <input type="text" ng-model="newemail" placeholder="Email">
        <input type="text" ng-model="newname" placeholder="Full Name">
        <input type="password" ng-model="newpassword" placeholder="Password">
        <input type="password" ng-model="newpassword2" placeholder="Confirm Password">
        <button ng-click="createUser()">Create user</button>
</body>
</html>